/* блок 3 для 4-6*/
.table {
    width: 1100px;
    margin-top: 0;
    margin-bottom: 90px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }