.footer__column-links:hover {
    opacity: 0.4;
    transition: 0.35s;
  }
  
  .footer__column-links .footer__column-link:link{
    color: #f2f2f2;
    text-decoration: none;
  }
  
  .footer__column-links .footer__column-link:visited {
    color: #f2f2f2;
  }

  .footer__column-links {
    margin: 20px 0 16px 0;
    padding: 0;
    list-style: none;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
  }
  
  .footer__column-links .footer__social-icon:link{
    color: #f2f2f2;
    text-decoration: none;
  }
  
  .footer__column-links .footer__social-icon:visited {
    color: #f2f2f2;
  }