.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*блок HEADER*/

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  overflow:hidden;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

/* 1 блок с лого */
.logo_place_header {
  width: 183px;
  height: 32px;
  top: 30px;
  left: 64px;
  position: absolute;
  z-index: 5;
}

/* 2 блок с h1 */
.header__title {
  width: 730px;
  margin: 0 auto;
  margin-left: 64px;
  align-self: center;
  justify-content: center;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  color: black;
  z-index: 4;
}

/* 3 блок с h2 и ссылкой*/
.header__subtitle {
  width: 388px;
  position: absolute;
  margin: 0 auto;
  left: 64px;
  bottom: 30px;
  align-self: flex-end;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: #000;
  z-index: 5;
}

/* ссылка */
.header__link {
  color:  #2F80ED;
  text-decoration: none;
}

/* блок 4 img */
.header__main-illustrator {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  object-fit: cover;
  z-index: 2;
}

/* блок 5 квадрат*/
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background: #2F80ED;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 1;
}

/* NO HEADER*/
/*блок DESCRIPTION*/

.description {
  position: relative;
  margin-top: 100px;
  display: flex;
}

/* блок 1 с 2-3*/
.two-columns {
  width: 80%;
  margin-left: 100px;
  margin-right: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

/* блок 2 с h1*/
.two-columns__brief {
  max-width: 175px;
  color: #2F80ED;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  display: block;
}

/* блок 3 с 4-6*/
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin-top: 0;
  margin-right: 0;
  right: 0;
  line-height: 34px;
  font-size: 24px;
  font-style: normal;
}

/* блок 4 c h2*/
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0 0;
}

/* блок 5 c h3*/
.two-columns__paragraph:first-of-type {
  margin: 0;
}

/* блок 6 c h4*/
.two-columns__span-accent {
  color: black;
  font-weight: bold;
}

/* NO DESCRIPTION*/
/*блок DIGITS*/

.digits {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* блок 1 с h1 */
.section-title {
  width: 60%;
  margin-top: 0px;
  margin-bottom: 20px;
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

/* блок 2 с P*/
.section-subtitle {
  width: 60%;
  margin: auto;
  margin-top: 0;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

/* блок 3 для 4-6*/
.table {
  width: 1100px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  overflow-x:hidden;
}

/* блоки с 4-6*/
.table__cell {
  width: 250px;
  justify-content: space-between;
  margin-top: 60px;
  display: block;
}

/* h2*/
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

/* p*/
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  margin: 20px 0;
}

/*...*/
.table__text:last-of-type {
  margin-bottom: 0;
}

/* NO DIGITS */
/* блок FEYNMAN*/

.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  min-height: 890px;
  margin-top: 100px;
}

.feynman__title {
  z-index: 4;
  display: block;
  min-height: auto;
  width: 648px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 0;
  justify-content: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle {
  display: block;
  z-index: 3;
  margin: 0 auto;
  padding-top: 70px;
  justify-content: center;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  z-index: 5;
  display: block;
  position: absolute;
  margin:auto;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color:  #2F80ED;
}

.feynman .feynman__link:link{
text-decoration: none;
}

.feynman__img {
  display: block;
  position: absolute;
  width: 867px;
  height: 637px;
  z-index: 1;
  left: 0;
  bottom: 0;
  object-fit: cover;
}

/**/
/**/
.kaufman {
  position: relative;
  overflow: hidden;
  background-color: #1f1f1f;
}
/*блок 1 h1*/
.section-title_theme_dark {
  color: #f2f2f2;
  width: 60%;
  margin-bottom: 20px;
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 90px;
  position: relative;
  z-index: 3;
}
/*блок 2 p*/
.section-subtitle_theme_dark {
  color: #f2f2f2;
  width: 60%;
  margin: auto;
  margin-top: 0;
  display: flex;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  z-index: 3;
}
/*блок 3 с 4-6*/
.table_theme_dark {
  width: 1100px;
  padding-left: 0;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
  z-index: 3;
}
/*блоки 4 с 5-6*/
/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  padding-left: 0;
  margin-top: 80px;
  display: block;
  z-index: 4;
}
/*блоки 5 c h3*/
.table__heading_theme_dark {
  color: #f2f2f2;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
/*блоки 6 с p*/
.table__text_theme_dark {
  color: #f2f2f2;
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 0;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  background-repeat: no-repeat;
  background-image: url(../../../images/kaufman-triangle.svg);
  z-index: 1;
  background-size: cover;
}
/*NO KAUFMAN*/
/* блок FOOTER*/

.footer {
  background-color: #1f1f1f;
  position: relative;
  min-height: 350px;
  padding: 0;
  margin: 0;
  display: flex;
  box-sizing: border-box;
}

.footer__columns {
  background-color: #1f1f1f;
  margin-bottom: 40px;
  top: 0;
  margin-top: 60px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  margin-left: auto;
  margin-right: auto;
}

.footer__column_content_social {
  margin-left: auto;
  margin-right: auto;
}

.footer__column-links .footer__column-link:link{
  color: #f2f2f2;
  text-decoration: none;
}

.footer__column-links .footer__column-link:visited {
  color: #f2f2f2;
}

.logo_place_footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  color: #f2f2f2;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  color: #f2f2f2;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__column-links {
  margin: 20px 0 16px 0;
  padding: 0;
  list-style: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-links .footer__social-icon:link{
  color: #f2f2f2;
  text-decoration: none;
}

.footer__column-links .footer__social-icon:visited {
  color: #f2f2f2;
}

.footer__social-icon {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  align-self: center;
  color: #f2f2f2;
}

.footer__column-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}