.khan__buy-link {
    margin-left: 48px;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    display: flex;
    text-decoration: none;
    align-self: start;
    color:  #2F80ED;
  }
  
.khan__buy-link:hover {
    opacity: 0.4;
    transition: 0.35s;
  }